<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./test.css">
  <title>Sunset Event Coaching</title>
</head>
<body>
  <header>
    <!-- Cabecera. Section es el simbolo de la izquierda y nav son los enlaces de la parte derecha -->
        <section id="logo"></section>
        <nav>
          <li>img1</li>
          <li>img2</li>
          <li>img3</li>
          <li>img4</li>
        </nav>
    </header>

    <main>
    <!-- Primer Section tieme foto de pantalla, aqui va el titulo. Los aside no tienen nada, solo para mantener el margen. El article contiene todo el texto principal. El ultimo section contiene los dos clientes  -->
    <section id="bienvenida"></section>
    <aside></aside>
    <article>
    <!-- las etiquetas image vam a contener imagenes, las p parrafos y los h son titulos, los tres parrafos van en linea no en block -->
        <img src="" alt="">
        <h2 class="tt"><span></span></h2>
        <p></p>
        <h5 class="titulo"></h5>
        <p class="pa"></p>
        <h5 class="titulo"></h5>
        <p class="pa"></p>
        <h5 class="titulo"></h5>
        <p class="pa"></p>

        <!-- Esta parte es de puras imagenes y un titulo hasta el final -->
        <h2></h2>
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
        <h2></h2>

    </article>
    <aside></aside>
    <!-- Este section contiene las dos imagenes de los clientes -->
    <section id="clientes">
      <img src="" alt="">
      <img src="" alt="">
    </section>
    </main>

    <!-- En este footer el section es una imagen centrada, hay un parrafo a la izquierda y el mismo nav del header a la derecha -->
    <footer>
      <p></p>
      <section id="logodos"></section>
      <nav></nav>
    </footer>
</body>
</html>